@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Saira+Stencil+One&display=swap");

.root * {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  min-height: 1vh;
  height: 100%;
}

body {
  min-height: 1vh;
  box-sizing: border-box;
  background-color: #8c11be;
}
